*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat',sans-serif;
}
.left_container{
	width: 20%;
	height: 100vh;
	/*border: 1px solid black;*/
	/*background: red;*/
	background-image: url(images/profile.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	position: fixed;
}
.shadow1{
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	position: relative;
}
.nav{
	width: 90%;
	/*background-color: orange;*/
	/*height: 100vh;*/
	margin: 0 auto;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 50px;
	text-align: center;
    margin-left: 5%;
}
.manu_text{
	padding: 14px;
}
ul {
	list-style-typse: none;
	/*text-decoration: none;*/
}
li{
	margin: 0 auto;
	padding-top: -50px;
	padding: 8px 30px;
	text-decoration: none;
}
.nav a{
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	/*float: left;*/
}
i{
	padding: 10px;
}

li:hover a{
	color: rgb(255, 255, 255);
}




.right_container{
	width: 80%;
	/*height: 100vh;
	/*border: 1px solid red;*/
	/*background: blue;*/
	float: right;
}
.personal_intro{
	width: 100%;
	height: 88vh;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border-top: 4px #03a9f4;*/
}
.section_details{
	text-align: center;
}
.hello{
	font-size: 19px;
	text-align: center;
	/*line-height: 60px;*/
}
.sarveen{
	font-size: 2.7em;
	font-weight: 700;
	font-family: 'Jost', sans-serif;
	line-height: 70px;
}
.frontend{
	font-size: 22px;
	text-align: center;
}
.hire{
	text-decoration: none;
	color: black;
	padding: 5px 10px;
	display: inline-block;
	border: 1px solid black;
	margin-top: 30px;
	/*text-align: center;*/
	margin-left: 120px;
	font-size: 14px;
	font-weight: 600;
	background: rgba(0, 0, 0, 0.1);
}





.about{
	width: 100%;
	/*height: 170vh;*/
	padding-bottom: 30px;
	background: #eaeaea;
}
.shadow{
	font-size: 3.9em;
	/*padding-left: 300px;*/
	text-align: center;
	padding-top: 30px;
	font-weight: 700;
	font-family: 'ZCOOL XiaoWei', serif;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.2);
	padding-top: 94px;
}
.bold_text{
	font-size: 44px;
	text-align: center;
	margin-top: -42px;
	font-weight: 600;
	/*letter-spacing: 1px;*/
	/*color: rgba(0, 0, 0, 0.2);*/
}
.description{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	font-size: 21px;
	color: rgba(0, 0, 0, 0.4);
	line-height: 33px;
	padding: 30px;
	/*border: 1px solid black;*/
}
.self_pics{
	width: 100%;
	height: 420px;
	/*border: 1px solid blueviolet;*/
	/*text-align: center;*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.pic1{
	width: 280px;
	height: 350px;
	/*border: 1px solid black;*/
	float: left;
	margin: 5px;
	margin-top: 30px;
	/*margin-left: 36px;*/
	background-image: url(images/sol.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.pic3{
	width: 280px;
	height: 350px;
	/*border: 1px solid black;*/
	float: left;
	margin: 5px;
	margin-top: 30px;
	/*margin-left: 36px;*/
	background-image: url(images/profile13.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hobbies{
	font-size: 28px;
	font-weight: 700;
	color: #2196f3;
	margin-top: 34px;
	padding-left: 20px;
	/*padding-top: 80px;*/
	text-align: center;
	/*margin: 50px;*/
	/*border: 1px solid black;*/
}
.facts1{
	width: 100%;
	height: 130px;
	/*border: 1px solid black;*/
	margin-top: 40px;
	/*text-align: center;*/
}
.small_words{
	font-size: 20px;
	padding: 17px;
	/*font-weight: 600;*/
	/*color: #c3008b;*/
	padding-left: 20px;
}

.experiences{
	width: 18%;
	height: 100px;
	/*border: 1px solid #4caf50;*/
	float: left;
	margin: 13px;
	margin-left: 5%;

}
.sign{
	/*color: #c3008b;*/
	/*font-size: 25px;*/
	text-align: center;
	padding-top: 35px;
	/*font-weight: 700;*/
}
.sign1{
	/*color: #c3008b;*/
	/*font-size: 25px;*/
	text-align: center;
	padding-top: 35px;
	/*font-weight: 700;*/
}
.sign2{
	/*color: #c3008b;*/
	/*font-size: 25px;*/
	text-align: center;
	padding-top: 35px;
	/*font-weight: 700;*/
}
.sign3{
	/*color: #c3008b;*/
	/*font-size: 25px;*/
	text-align: center;
	padding-top: 25px;
	font-size: 28px;
	/*font-weight: 700;*/
}
.position{
	font-size: 15px;
	text-align: center;
	font-weight: 700;
}






.skills{
	width: 100%;
	/*height: 170vh;*/
	padding-bottom: 30px;
	background: white;
}
.skills_outer{
	width: 100%;
	height: 290px;
	/*border: 1px solid black;*/
	/*margin-top: 90px;*/
}
.skills_set{
	width: 17%;
	height: 200px;
	/*border: 1px solid black;*/
	float: left;
	margin-top: 50px;
	margin: 7px;
	margin-left: 2%;
}
.logo{
	width: 50px;
	height: 50px;
	/*border: 1px solid black;*/
	margin: 0 auto;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
}
.progress{
	width: 90%;
	height: 10px;
	/*border: 1px solid blueviolet;*/
	background: lightgrey;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 20px;
}
.progress-bar{
	width: 70%;
	height: 10px;
	background-color: #f16529;
	/*margin-top: 10px;*/
	border-radius: 20px;

}
.progress-bar1{
	width: 70%;
	height: 10px;
	background-color: #2965f1;
	/*margin-top: 10px;*/
	border-radius: 20px;

}
.progress-bar2{
	width: 70%;
	height: 10px;
	background-color: #7309f5;
	/*margin-top: 10px;*/
	border-radius: 20px;

}
.progress-bar3{
	width: 70%;
	height: 10px;
	background-color: #e8c831;
	/*margin-top: 10px;*/
	border-radius: 20px;

}
.progress-bar4{
	width: 70%;
	height: 10px;
	background-color: skyblue;
	/*margin-top: 10px;*/
	border-radius: 20px;

}
.experience{
	color: #2196f3;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 20px;
	text-align: center;
	font-weight: 700;
}







.my_work{
	width: 100%;
	/*height: 1210px;*/
	/*border: 1px solid darkred;*/
	padding-bottom: 60px;
	background: #eaeaea;
	clear: both;
}
.work_pic{
	width: 100%;
	/*height: 1200px;*/     /*height: 942px;*/
	text-align: center;
	/*border: 1px solid black;*/
}
.work_pic1 img{
	width: 60%;
	/*margin-left: 10%;*/
	text-align: center;
	margin-top: 10px;
	/*border: 1px solid black;*/
}
.work_pic2 img{
	width: 60%;
	/*margin-left: 10%;*/
	margin-top: 10px;
	/*border: 1px solid black;*/
}
.work_pic3 img{
	width: 60%;
	/*margin-left: 10%;*/
	margin-top: 10px;
	/*border: 1px solid black;*/
}






.contact_details{
	width: 100%;
	/*height: 141vh;*/
	padding-bottom: 0px;
	background: white;
	clear: both;
	/*border: 1px solid black;*/
}
.contact1{
	width: 100%;
	/*height: 520px;*/
	margin-top: 30px;
	/*border: 1px solid orange;*/
	/*float: left;*/
}

.contact_me{
	color: #c3008b;
	font-size: 25px;
	padding-left: 30px;
	padding-top: 30px;
}
.bold_address{
	font-size: 18px;
	padding-left: 30px;
	padding-top: 20px;
	font-weight: 700;
	text-align: center;
}
/*.icons{
	width: 50px;
	height: 50px;
	border: 1px solid black;
}*/
.social_icons1{
	width: 100%;
	height: 40px;
	/*border: 1px solid blue;*/
	/*margin-top: 40px;*/
	/*margin-left: 60px;*/
	word-spacing: 20px;
	padding-top: 10px;
	padding-left: 5px;
	text-align: center;
	margin: 0 auto;
	/*color: white;*/
	/*background: black;*/
}
.social_icons1 a{
	text-decoration: none;
}
.map{
	width: 100%;
	height: 300px;
	/*border: 1px solid blueviolet;*/
	float: left;
	padding-top: 30px;
}
iframe{
	width: 100%;
	height: 300px;
}



.footer{
	width: 100%;
	/*height: 50px;*/
	background: black;
	padding: 20px;
	font-size: 15px;
	float: left;
}
.footer_text{
	text-align: center;
	 color: whitesmoke;
}









@media screen and (min-width: 320px) and (max-width: 500px){

.left_container{
	width: 100%;
	height: 66vh;
	/*position: fixed;*/
	position: sticky;
}
.shadow1{
	width: 100s%;
	height: 100%;
	position: relative;
}
.mobile_nav{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.683);
	/*height: 50px;*/
	position: fixed;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mobile_nav ul{
	list-style-type: none;
}

.mobile_nav li{
	float: left;
	text-decoration: none;
	padding: 15px 14px;
}
.mobile_nav i{
	color: white;
}
.nav{
	width: 94%;
	position: absolute;
	bottom: 34px;
	/*left: 20px;*/
	margin: 0 auto;
	display: none;
}
.nav ul{
	text-decoration: none;
}
.nav li{
	padding: 3px 15px;
	text-align: center;
	font-size: 18px;
}


.right_container{
	width: 100%;
	/*height: 100vh;*/
	/*border: 1px solid black;*/
	/*margin-top: 460px;*/
}
.personal_intro{
	width: 100%;
	height: 350px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1px solid blueviolet;*/
}

.hello{
	font-size: 16px;
	text-align: center;
}
.sarveen{
	font-size: 1.9em;
	color: #c3008b;
	font-weight: 700;
	font-family: 'Jost', sans-serif;
}
.frontend{
	font-size: 18px;
	 text-align: center;
}
.hire{
	padding: 3px 6px;
	margin-left: 94px;
	font-size: 10px;
}




.shadow{
	font-size: 2.1em;
	font-family: 'ZCOOL XiaoWei', serif;
}

.bold_text{
	margin-top: -19px;
	font-size: 25px;
}

.description{
	width: 10s0%;
	  font-size: 15px;
	  line-height: 24px;
}

.self_pics{
	width: 100%;
	/*height: 420px;*/
	/*border: 1px solid blueviolet;*/
	text-align: center;
}
.facts{
	font-size: 18px;
}

.pic1{
	width: 100%;
	margin: 0px;
	margin-left: 2px;
}


/*.pic2{
	width: 100%;
	margin: 0px;
	margin-left: 2px;
}*/

.pic3{
	width: 100%;
	margin: 0px;
	margin-left: 2px;
}

.facts1{
	width: 100%;
	/*border: 1px solid blue;*/
	height: 500px;
}

.experiences{
	width: 90%;
}








.skills{
	width: 100%;
	/*border: 1px solid black;*/
	/*height: 1700px;*/
}
.skills_outer{
	width: 100%;
	/*height: 1250px;*/
	/*border: 1px solid blueviolet;*/
}
.skills_set{
	width: 90%;
	margin-top: 0px;
}


.my_work{
	width: 100%;
	/*height: 1700px;*/
	/*border: 1px solid black;*/
}
.work_pic{
	width: 100%;

}
.work_pic1 img{
	width: 100%;
}
.work_pic2 img{
	width: 100%;
}
.work_pic3 img{
	width: 100%;
}

.contact_details{
	width: 100%;
	/*border: 1px solid blueviolet;*/
}


.footer{
	width: 100%;
	height: 109px;
	/*margin-bottom: 10px;*/
}
.footer_text{
	text-align: center;
	/*font-size: 10px;*/
}
.social_icons1{
	word-spacing: 16px;
}


}

















@media screen and (min-width: 501px) and (max-width: 1000px){
	.left_container{
	width: 30%;
	/*height: 100vh;*/
	/*position: fixed;*/
	/*position: sticky;*/
}
.shadow1{
	width: 100%;
	position: relative;
}.manu_text {
    padding: 16px;
}
.mobile_nav{
	display: none;
}
.nav{
	width: 100%;
	position: absolute;
	bottom: 60px;
	/*left: 20px;*/
	margin: 0 auto;
}
.nav ul{
	text-decoration: none;
}
.nav li{
	padding: 9px 15px;
	text-align: center;
	font-size: 20px;
}


.right_container{
	width: 70%;
	height: 100vh;
	border: 1px solid black;
	/*margin-top: 460px;*/
}
.personal_intro{
	width: 100%;
	/*height: 350px;*/
	/*background: white;*/
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*border: 1px solid blueviolet;*/
}

.hello{
	/*font-size: 16px;*/
	/*text-align: center;*/
}
.sarveen{
	font-size: 1.9em;
	color: #c3008b;
	/*font-weight: 700;*/
	/*font-family: 'Jost', sans-serif;*/
}
.frontend{
	/*font-size: 18px;*/
	 /*text-align: center;*/
}
.hire{
	/*padding: 3px 6px;*/
	margin-left: 70px;
	font-size: 11px;
}




.shadow{
	font-size: 2.9em;
	font-family: 'ZCOOL XiaoWei', serif;
}

.bold_text{
	margin-top: -27px;
	font-size: 37px;
}
.description{
	font-size: 15px;
}
.facts1{
	width: 100%;
	height: 240px;
	/*border: 1px solid black;*/
}
.experiences{
	width: 30%;
	height: 100px;
	/*border: 1px solid blueviolet;*/
	float: left;
	margin: 10px;
	margin-left: 11%;
}
.experiences1{
	width: 30%;
	height: 100px;
	/*border: 1px solid blueviolet;*/
	float: left;
	margin: 10px;
	padding: 5px;
}
.experiences2{
	width: 30%;
	height: 100px;
	/*border: 1px solid blueviolet;*/
	float: left;
	margin: 10px;
	padding: 5px;
	margin-left: 17%;
}
.experiences3{
	width: 30%;
	height: 100px;
	/*border: 1px solid blueviolet;*/
	float: left;
	margin: 10px;
	padding: 5px;
}
.position{
	font-size: 10px;
}
.camera{
	padding-top: 0px;
	font-size: 5px;
}
.sign img{
	width: 41%;
	padding: 8px;
}
.sign1 img{
	width: 40%;
	padding: 8px;
}
.sign2 img{
	width: 48%;
	padding: 8px;
}
.sign3 img{
	width: 22%;
}
.sign3{
	padding-top: 34px;
}


.skills_set{
	margin-top: 0px;
	margin: 37px;
}

.work_pic1 img{
	width: 100%;
}
.work_pic2 img{
	width: 100%;
}
.work_pic3 img{
	width: 100%;
}


}




@media screen and (min-width: 1001px) and (max-width: 5000px){
	.mobile_nav{
		display: none;
	}
}



































































